.pagination {
  display: flex;
  align-items: center;
}

.pagination > .full {
  white-space: nowrap;
  width: auto !important;
  flex-grow: 1;
}

.pagination .buttons {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.pagination .buttons > a {
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #c4c9cd;
  height: 0.3rem;
  line-height: 0.28rem;
  width: 0.32rem;
  text-align: center;
}

.pagination .buttons > a:not(:last-child) {
  border-right: none;
}

.pagination .buttons > a:first-child {
  border-top-left-radius: 0.04rem;
  border-bottom-left-radius: 0.04rem;
}

.pagination .buttons > a:last-child {
  border-top-right-radius: 0.04rem;
  border-bottom-right-radius: 0.04rem;
}

.pagination .buttons > a.active {
  color: #fff !important;
  background-color: #26bbf0 !important;
  border-color: #26bbf0 !important;
}

.pagination .buttons > a:hover {
  background-color: #f3f3f3;
}

.pagination .buttons > a.disabled {
  color: #c4c9cd !important;
}

.pagination .buttons > a.disabled:hover {
  background-color: #fff;
}

.up .ui-select .dropdown-list {
  top: initial;
  bottom: calc(100% + 1px);
  border-top: 1px solid #26bbf0;
  border-bottom: none;
  border-top-left-radius: 0.04rem;
  border-top-right-radius: 0.04rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.up .ui-select.show-dropdown.input {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom: 1px solid #26bbf0;
  border-bottom-left-radius: 0.04rem;
  border-bottom-right-radius: 0.04rem;
}
